<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferinabay.foodapps">

    <application
        android:allowBackup="true"
        android:icon="@drawable/coffee_shop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coffee_shop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailBeritaActivity"></activity>
        <activity android:name=".MainPenjualActivity" />
        <activity android:name=".MainPembeliOrderActivity" />
        <activity android:name=".MenuAwalActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".DetailFoodActivity" />
        <activity android:name=".ListFoodActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>